.grid {
	width: 50%;
	height: 100%;
	display: grid;
	gap: 0px 0px;
	border-width: 4px;
	border-color: #18181b;
	background-color: transparent;
	position: relative;
	padding: 20px;
}

@media screen and (max-width: 900px) {
	.grid {
		width: 100%;
	}
}
