.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal-overlay-open {
	opacity: 1;
	visibility: visible;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 30vw;
	z-index: 1000;
	padding: 20px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal-open {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 600px) {
	.modal {
		max-width: 90%;
	}
}
